---
import NavBar from '@/components/NavBar.astro'
import { BusRouteList } from '@/components/BusRouteList'
import Main from '@/layouts/Main.astro'
import RootLayout from '@/layouts/RootLayout.astro'

const q = Astro.url.searchParams.get('q') || ''
---

<RootLayout>
  <div class="flex flex-col justify-start space-y-10">
    <NavBar />
    <Main className="max-w-none">
      <BusRouteList q={q} client:only="react" />
    </Main>
  </div>
</RootLayout>
