---
import NavBar from '@/components/NavBar.astro'
import Main from '@/layouts/Main.astro'
import RootLayout from '@/layouts/RootLayout.astro'
---

<RootLayout>
  <div class="flex flex-col justify-start space-y-10">
    <NavBar />
    <Main />
  </div>
</RootLayout>
