---
import { Logo } from '@/assets/logo'
import { cn } from '@/lib/utils'
import { BusIcon, SubwayIcon } from '@phosphor-icons/react'

const pathname = Astro.url.pathname
---

<header class="px-2 py-1 w-full border-b">
  <div class="flex items-center justify-between">
    <a href="https://github.com/chapmankoo28/check-eta">
      <div class="flex items-center gap-2">
        <Logo />
        <span class="cursor-pointer select-none rounded-md p-2 text-2xl">幾時到</span>
      </div>
    </a>

    <div class="flex gap-2">
      <a href="/bus">
        <div
          class={cn(
            'cursor-pointer select-none rounded-md text-foreground py-1 px-3 flex flex-row justify-between items-center gap-2 border-2 border-transparent hover:bg-muted',
            pathname === '/bus' && 'border-primary '
          )}
        >
          <BusIcon weight="fill" /> 巴士
        </div>
      </a>
      <a href="/mtr">
        <div
          class={cn(
            'cursor-pointer select-none rounded-md text-foreground  py-1 px-3 flex flex-row justify-between items-center gap-2 border-2 border-transparent hover:bg-muted',
            pathname === '/mtr' && 'border-primary  '
          )}
        >
          <SubwayIcon weight="fill" /> 鐡路
        </div>
      </a>
    </div>
  </div>
</header>
