---
import { Logo } from '@/assets/logo'
---

<header class="mx-auto mt-px mb-2.5 w-full">
  <div class="flex items-center justify-between">
    <a href="https://github.com/chapmankoo28/check-eta">
      <div class="flex items-center gap-2">
        <Logo />
        <span class="cursor-pointer select-none rounded-md p-2 text-2xl">幾時到</span>
      </div>
    </a>
    <div class="flex gap-2">
      <a href="/bus">
        <span class="cursor-pointer select-none rounded-md p-2 text-2xl hover:bg-gray-100">
          🚍巴士
        </span>
      </a>
      <a href="/mtr">
        <span class="cursor-pointer select-none rounded-md p-2 text-2xl hover:bg-gray-100">
          🚇鐡路
        </span>
      </a>
    </div>
  </div>
  <hr class="border-t-4" />
</header>
