---
import { Logo } from '@/assets/logo'
import { cn } from '@/lib/utils'
import { BusIcon, SubwayIcon } from '@phosphor-icons/react'
import { ThemeToggler } from '@/components/ThemeToggler'

const pathname = Astro.url.pathname
---

<header class="w-full border-b px-2 py-1">
  <div class="grid grid-cols-[1fr_auto_1fr] items-center">
    <a href="https://github.com/chapmankoo28/check-eta">
      <div class="flex items-center gap-2">
        <Logo />
        <span class="cursor-pointer rounded-md p-2 text-2xl select-none">幾時到</span>
      </div>
    </a>

    <div class="flex gap-2">
      <a href="/bus">
        <div
          class={cn(
            'cursor-pointer select-none rounded-md text-foreground py-1 px-3 flex flex-row justify-between items-center gap-2 border-2 border-transparent hover:bg-muted',
            pathname === '/bus' && 'border-primary'
          )}
        >
          <BusIcon weight="fill" /> 巴士
        </div>
      </a>
      <a href="/mtr">
        <div
          class={cn(
            'cursor-pointer select-none rounded-md text-foreground py-1 px-3 flex flex-row justify-between items-center gap-2 border-2 border-transparent hover:bg-muted',
            pathname === '/mtr' && 'border-primary'
          )}
        >
          <SubwayIcon weight="fill" /> 鐡路
        </div>
      </a>
    </div>
    <div class="flex justify-end">
      <ThemeToggler client:load />
    </div>
  </div>
</header>
