---
import { cn } from '@/lib/utils'

interface Props {
  className?: string
}

const { className } = Astro.props
---

<main class={cn('mx-auto w-full max-w-7xl px-24 max-sm:px-5', className)}>
  <slot />
</main>
