---
import '@/styles/global.css'
import { Font } from 'astro:assets'
interface Props {
  title?: string
}

const { title } = Astro.props
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    return 'light'
  }
  const isDark = getThemePreference() === 'dark'
  document.documentElement.classList[isDark ? 'add' : 'remove']('dark')

  if (typeof localStorage !== 'undefined') {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains('dark')
      localStorage.setItem('theme', isDark ? 'dark' : 'light')
    })
    observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] })
  }
</script>

<html lang="zh-hk">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <Font cssVariable="--font-inter" />
    <Font cssVariable="--font-noto-sans-hk" />
    <Font cssVariable="--font-noto-sans-sc" />
    <title>{`${title ? `${title} |` : ''} 幾時到`}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
  </head>

  <body class="flex min-h-svh w-full max-w-screen flex-col">
    <slot />
  </body>
</html>
